.buildpath
.htaccess
.project
.settings
.idea
.svn
.DS_Store
.sass-cache
*.project
*.sublime-project
*.sublime-workspace
/modules/*/*.xml
/modules/filter/*.xml
/modules/luxury/*.xml
robots.txt
cache/cachefs/*
!cache/cachefs/index.php
download/*
!download/index.php
upload/*
!upload/index.php
panel/autoupgrade/*
panel/backups/*
!panel/backups/index.php
cache/smarty/cache/*
!cache/smarty/cache/index.php
cache/smarty/compile/*
!cache/smarty/compile/index.php
cache/class_index.php
cache/tcpdf/*
!cache/tcpdf/index.php
config/xml/*.xml
config/settings.inc.php
config/settings.old.php
log/*.log
tools/smarty*/cache/*.php
!tools/smarty*/cache/index.php
tools/smarty*/compile/*.php
!tools/smarty*/compile/index.php
themes/default/cache/*.js
themes/default/cache/*.css
themes/default-bootstrap/cache/*.js
themes/default-bootstrap/cache/*.css