
	#contact  fieldset {
		padding:0 0 15px 0;
		/*border:1px solid #ccc;*/
		/*background:#f8f8*/
		background-image: url(../img/fondo-contact.jpg);
		text-align: left;
		position: relative;
		margin: 0;
		border: none;
	}
		/*#contact  h3 {
			margin:0 0 15px 0;
			padding:8px;
			font-size:14px;
			color:#fff;
			text-transform:uppercase;
			background:url(../img/bg_form_h3.png) repeat-x 0 0 #989898
		}*/
		#contact #center_column p {margin:0; padding:0 0 10px 0;}
		#contact #center_column p.desc_contact { text-align: center; padding-left: 10px; padding-right: 10px; }
		
		#contact p.text label,
		#contact p.select label,
		#contact p.select span,
		#contact p.textarea label {
			display:inline-block;
			padding:6px 15px;
			width:150px;/* 180 */
			font-size:12px;
			text-align:right
		}
		#contact p.textarea label {vertical-align:top}
		/*#contact  input {
			padding:0 5px;
			height:22px;
			width:260px;
			border:1px solid #ccc;
			font-size: 12px;
			color:#666;
		}*/
		#contact p.select select {
			margin-right:10px;
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		}
		#contact p.textarea textarea {
			height:80px;
			width:270px;
			border:1px solid #ccc;
			font-size: 12px;
			color:#666
		}
		#contact p.submit input {margin-left:185px;}
		

/******CREACION INMOBILIARIA*******/

#container-page-contact input, #container-page-contact textarea, #container-page-contact select{
	border: none;
    color: #666666;
    font-size: 12px;
    height: 40px;
    padding: 0 6px;
    width: 60%;
    margin: 5px 0px;

}
#container-page-contact select{
	width: 61%;
	padding: 5px;
	
}
#container-page-contact textarea{
	height: 70px;
}

#container-page-contact #submitMessage {
    background: none repeat scroll 0 0 #1464A8;
    border: medium none;
    border-radius: 0 !important;
    color: #FFFFFF;
    font-size: 120%;
    margin-left: 21%;
    text-transform: uppercase;
    width: 40%;
    transition: all 0.5s;
}

#container-page-contact #submitMessage:hover{
	background: #000000;
}

.text-example-contact{
	width: 60%;
	font-size: 135%;
	padding:20px;
	color:#EEEEEE;
	line-height: 20px;
}

.logo-contact{
	position: absolute;
	right: 5%;
	top: 15%;
}

#container-page-contact{
	margin-bottom:10px;
}

/****VERSION MOVIL CI*****/
@media screen and (max-width:600px) {
	.mobile-not{
		display: none;
	}
	
	#container-page-contact {
    	width: 100%;
    	
	}
	
	#contact fieldset {
	    background-image: none;
	    border: none;
	    text-align: center;

	}
	
	.logo-contact{
		display:none;

	}
	
	#container-page-contact input, #container-page-contact textarea, #container-page-contact select {
	    width: 85%;
	}
	
	.text-example-contact {
	    color: #5D5D5D;
	    font-size: 135%;
	    padding: 10px 0px;
	    line-height:25px;
	    width: 100%;
	}
	
	#mapa{
		display: none;
	}
	
	#container-page-contact #submitMessage {
	    font-size: 125%;
	    margin-left: 0%;
	    width: 50%;
	}
	
	
	
}


@media screen and (min-width:601px) and (max-width:900px) {
	
	#container-page-contact {
    	width: 100%;
    	
	}
	
	
	
	.content-info-contact {
	    border-left: 1px solid #EEEEEE;
	    color: #5D5D5D;
	    font-size: 140%;
	    margin-left: 5%;
	    padding: 10px;
	    text-align: left;
	    width: 80%;
	}
	
	
	
	
	#contact fieldset {
	    background-image: none;
	    border: none;
	    text-align: center;

	}
	
	.logo-contact{
		display:none;

	}
	
	#container-page-contact input, #container-page-contact textarea, #container-page-contact select {
	    width: 75%;
	}
	
	.text-example-contact {
	    color: #5D5D5D;
	    font-size: 135%;
	    padding: 10px 0px;
	    line-height:25px;
	    width: 100%;
	}
	
	#mapa{
		height:250px !important;
	}
	
	#container-page-contact #submitMessage {
	    font-size: 125%;
	    margin-left: 0%;
	    width: 50%;
	}
	
	
	
}

